/* bookform2.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.destination-details {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.destination-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.details p {
    margin-bottom: 10px;
}

.agent, .place, .location, .description {
    font-weight: bold;
}

.package-box {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.package-box:hover {
    border-color: #007bff;
}

.package-content {
    padding-top: 5px;
}

.package-content label {
    display: block;
    margin-bottom: 5px;
}

.package-box input[type="radio"] {
    display: none;
}

.package-box input[type="radio"]:checked + .package-content {
    border: 2px solid blue;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="number"], form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
